body {
    font-family: Arial;
   position: relative;
    margin: 0;
    
}
.mainheading{
    width: 100vw;
    height:55px;
   background-color: rgb(92, 92, 243);
    font-size: 40px;
    margin:0;
    text-align: center;
color: whitesmoke;
    margin-bottom: 10px;
    padding-top: 10px;
}
.intro{
    margin:0;
      font-size: 28px;
    text-align: center;
    font-weight: 500;
}
.menu{
    display: flex;
    flex-direction: row;

}
.hamburgericon{
    height: 20px;
    margin-right: 10px;
    background-color: white;
}
.addtask,
.completedtask,
.incompletedtask,
.alltasks{
padding-top: 10px;
padding-bottom: 10px;
border-radius: 4px;
cursor: pointer;
background-color: white;
color: rgb(29, 162, 242);
border-style: solid;
border-color: blue;
border-width: 2px;
flex: 1;
font-size: 18px;
width: 0%;
margin-bottom: 30px;
border: none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.addtask:hover,
.completedtask:hover,
.incompletedtask:hover,
.alltasks:hover{
    background-color: rgb(202, 227, 249);
   
}

.mainframe{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
    background-color:#fff ;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.frame1,

.frame3{
    flex: 0;
}
.frame1,
.frame3{
    max-width: 440px;
}
.frame2{
   flex:2;
    border-radius: 20px;
}
.heading{
    padding: 10px 5px;
    font-size:25px ;
cursor: pointer;
border: none;
margin-bottom: 20px;
margin-left:10px ;
background-color: rgb(83, 78, 228);
color: aliceblue;
border-radius: 4px;
}
.heading:hover{
    background-color:white;
    color: rgb(29, 162, 242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 13px;
    column-gap: 10px;
    align-items: center;
    max-width: 1000px;
text-align: center;
background-color: aliceblue;
border-radius: 15px;
padding-left: 12px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}
.header {
    text-align: center;
    display: flex;
    flex-direction: row;   
}


.input {
    padding: 10px;
    font-size: 17px;
    border-radius: 20px;
    border-style:solid ;
    background-color:aliceblue;
    border-color: #ccc;
flex: 1;
    color: black;
    min-width: 70px;
    max-width: 400px;
    margin-right: 20px;
}
.input::placeholder{
    color: rgb(108, 106, 106);
}
.duedate {
    flex: 1;
    max-width: 250px;
    margin-right: 20px;
    font-size: 17px;
   border-radius: 5px;
  border-color: #ccc;
  border-style:solid ;
  background-color:aliceblue;
  color: black;
height: 40px;
border-color: #ccc;
flex-shrink: 0;
}

.addbutton {
    max-width: 140px;
    background-color: rgb(11, 170, 11);
    border: none;
    font-weight: 520;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 22px 12px 22px;
    color: aliceblue;
}
.delbutton {
    max-width: 80px;
    background-color: red;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
font-size: 15px;
color:rgb(246, 241, 241);
}

.checking{
    display:flex;
    align-items: center;
    
}
.checkbutton{
  background-color: white;
  height: 30px;
 margin-right: 8px;
border:none;
 cursor: pointer;
 background-color: aliceblue;
}
.tickmark{
    height: 20px;
    margin-top: 3px;
    background-color: aliceblue;
}
.greentick{
    width:20px;
    background-color: aliceblue;
}
.resetbutton{
    margin-top: 15px;
    background-color: rgb(0, 0, 128);border: none;
    padding: 12px;
    border-radius: 4px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
   margin-left: 9px;
   margin-bottom: 15px;
}
.topbutton{
height: 30px;
width: 35px;
padding-left: 2px;
padding-right: 2px;
background-color: white;
border: none;
position: fixed;
bottom:1vw;
cursor: pointer;
right: 10px;
}
.backtotop{
    height: 25px;
    margin: 0;
    
}
.bottomheading{
    position: absolute;
    bottom:0;
    
    width: 100vw;
  
    height:55px
}
